<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">

            <div class="col-md-7 p-2 offset-md-2">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4 text-center">Add Admin</p>
                        <th:block th:if="${session.succMsg}">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="fas fa-check-circle"></i> [[${session.succMsg}]]
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="fas fa-exclamation-circle"></i> [[${session.errorMsg}]]
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/save-admin" enctype="multipart/form-data"
                              method="post" accept-charset="UTF-8">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Name</label> <input required
                                                                                       class="form-control" name="name" type="text" placeholder="Nguyễn Văn A">
                                </div>

                                <div class="col">
                                    <label class="form-label">Mobile Number</label> <input
                                        required class="form-control" name="mobileNumber"
                                        type="number">
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label> <input required
                                                                               class="form-control" name="email" type="email">
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Address</label> <input required
                                                                                     class="form-control" name="address" type="text" placeholder="Số nhà, tên đường...">
                                </div>

                                <div class="col">
                                    <label class="form-label">City</label> <input required
                                                                                  class="form-control" name="city" type="text" placeholder="Hà Nội, TP.HCM...">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Country</label> <input required
                                                                                   class="form-control" name="state" type="text" placeholder="Việt Nam">
                                </div>

                                <div class="col">
                                    <label class="form-label">Pincode</label> <input required
                                                                                     class="form-control" name="pincode" type="number">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Password</label> <input required
                                                                                      class="form-control" name="password" type="password">
                                </div>
                                <div class="col">
                                    <label class="form-label">Confirm Password</label> <input
                                        required class="form-control" name="cpassword"
                                        type="password">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Profile Image</label> <input
                                    class="form-control" name="img" type="file">
                            </div>
                            <button type="submit"
                                    class="btn bg-primary text-white col-md-12">Register</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>